{% extends "base.html" %}

{% block title %}Sign out{% endblock  %}


{% block content %}
    <div class="auth-container">
        <div class='logout-container'>
            <div class="logout-form">
                <h4>Sign out</h4>
                <p>Are you sure you want to sign out?</p>
                <form action="{% url "account_logout" %}" method="post">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input type="submit" value="Sign out">
                </form>
            </div>
        </div>
    </div>
{% endblock  %}